<!-- https://themes.jsonresume.org/theme/elegant -->

<mat-sidenav-container class="mat-sidenav-container">
  <mat-sidenav opened mode="side">
    <app-contact-information-container></app-contact-information-container>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <h4 style="text-transform: uppercase; font-size: 18px">Background</h4>
    <hr />
    <section class="about">
      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>contact_page</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>About</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>

      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>apartments</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>Work Experience</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>

      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>construction</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>Skills</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>

      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>school</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>Education</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>

      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>emoji_events</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>Awards</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>

      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>emoji_people</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>Volunteer Work</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>

      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>library_books</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>Publications</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>

      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>favorite</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>Interests</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>

      <app-resume-section>
        <app-resume-section-icon>
          <mat-icon>thumb_up</mat-icon>
        </app-resume-section-icon>
        <app-resume-section-header>References</app-resume-section-header>
        <app-resume-section-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, animi
            aut impedit quas beatae minima quo in assumenda numquam quibusdam,
            voluptate aliquam, veniam mollitia porro laudantium amet tenetur vel
            voluptas! Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Aut nostrum reprehenderit exercitationem dicta sequi quae quas sunt
            adipisci, a nulla culpa, dolor quod dolores nam odio assumenda,
            dignissimos voluptatum magni. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Saepe tenetur quia ab magnam illum. Neque sequi
            earum dolorem nesciunt error atque harum obcaecati doloribus placeat
            expedita. Possimus, eligendi eum! Tempore?
          </p>
        </app-resume-section-content>
      </app-resume-section>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
