<mat-card class="mat-card">
  <section class="header">
    <div class="image"></div>
    <div class="name">
      <b>John Doe</b>
    </div>
    <div class="label">
      <span>Web Developer</span>
    </div>
  </section>

  <hr />

  <section class="contact-info">
    <div class="contact-item">
      <mat-icon>place</mat-icon>
      <span>2712 Broadway St, San Francisco, California, US, CA 94115</span>
    </div>
    <div class="contact-item">
      <mat-icon>phone</mat-icon>
      <span>(912) 555-4321</span>
    </div>
    <div class="contact-item">
      <mat-icon>email</mat-icon>
      <span>
        <a href="mailto:johndoe@example.com">johndoe@example.com</a>
      </span>
    </div>
    <div class="contact-item">
      <mat-icon>link</mat-icon>
      <span>
        <a target="_blank" href="http://johndoe.com">http://johndoe.com</a>
      </span>
    </div>
    <div class="contact-item">
      <mat-icon>language</mat-icon>
      <span>English</span>
    </div>
  </section>

  <hr />

  <section class="profiles">
    <button mat-icon-button>
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>sports_football</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>whatshot</mat-icon>
    </button>
  </section>
</mat-card>
