<app-resume-section>
  <app-resume-section-icon>
    <button mat-icon-button>
      <mat-icon>apartments</mat-icon>
    </button>
  </app-resume-section-icon>
  <app-resume-section-header>Work Experience</app-resume-section-header>
  <app-resume-section-content>
    <div *ngFor="let work of workExperience">
      <p>
        <strong>{{ work.position }}</strong
        >,&nbsp;<a href="{{ work.website }}" target="_blank">{{
          work.company
        }}</a>
      </p>

      <p>
        <small>
          <span>{{ work.startDate | date }} - {{ work.endDate | date }}</span>
          &nbsp; &nbsp;
          <mat-icon>access_time</mat-icon>
          <span>{{ durationElapsed(work.startDate, work.endDate) }}</span>
        </small>
      </p>

      <p>
        {{ work.summary }}
      </p>

      <ul>
        <li *ngFor="let highlight of work.highlights">
          {{ highlight }}
        </li>
      </ul>
    </div>
  </app-resume-section-content>
</app-resume-section>
