<div>
  <mat-card class="job-listing-item-container">
    <mat-card-title>Job List</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora porro
      animi explicabo corporis, cum tenetur natus laudantium, nulla facere,
      repudiandae similique necessitatibus numquam. Repudiandae praesentium
      laboriosam assumenda voluptatibus odit. Alias!
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button>View</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="job-listing-item-container">
    <mat-card-title>Job List</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora porro
      animi explicabo corporis, cum tenetur natus laudantium, nulla facere,
      repudiandae similique necessitatibus numquam. Repudiandae praesentium
      laboriosam assumenda voluptatibus odit. Alias!
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button>View</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="job-listing-item-container">
    <mat-card-title>Job List</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora porro
      animi explicabo corporis, cum tenetur natus laudantium, nulla facere,
      repudiandae similique necessitatibus numquam. Repudiandae praesentium
      laboriosam assumenda voluptatibus odit. Alias!
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button>View</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="job-listing-item-container">
    <mat-card-title>Job List</mat-card-title>
    <mat-card-subtitle>subtitle</mat-card-subtitle>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora porro
      animi explicabo corporis, cum tenetur natus laudantium, nulla facere,
      repudiandae similique necessitatibus numquam. Repudiandae praesentium
      laboriosam assumenda voluptatibus odit. Alias!
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button>View</button>
    </mat-card-actions>
  </mat-card>
</div>
