<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    class="sidenav"
    [mode]="drawerMode$ | async"
    [opened]="drawerOpened$ | async"
  >
    <app-job-listing-filters-container></app-job-listing-filters-container>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div
      class="job-list-container"
      [style.margin-right.px]="(isMobileView$ | async) ? 0 : 10"
      [hidden]="(isMobileView$ | async) && (isJobDetailView | async)"
    >
      <div>
        <app-job-search-container></app-job-search-container>
        <app-job-listings-container></app-job-listings-container>
      </div>
    </div>
    <div
      class="job-detail-container"
      [hidden]="(isMobileView$ | async) && !(isJobDetailView | async)"
    >
      <app-job-listing-detail-container></app-job-listing-detail-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
