section {
  display: flex;
  flex-direction: row;
  div.icon {
    display: flex;
    padding: 0px 10px;
    color: #707070;

    ::ng-deep button {
      margin-top: -10px;
    }
  }
  div.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
  }
}
