app-resume-section-content {
  div {
    p:first-child {
      margin-bottom: 0px;
    }

    p {
      small {
        display: flex;
        align-items: center;
        mat-icon {
          font-size: 15px;
          height: 15px;
          width: 15px;
        }
      }
      mat-form-field.summary {
        width: 100%;
      }
    }
    ul {
      li {
        mat-form-field.highlight {
          width: 100%;
        }
      }
    }
  }
}
