@import "variables.scss";

.app-container {
  height: calc(100vh - 64px);
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: $background;
}

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
