.app-container {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
