<p *ngIf="!editing; else showEditor" (click)="toggleEditing.emit()">
  {{ summary }}
  <ng-container *ngIf="!summary.length">
    <button color="accent" mat-flat-button (click)="toggleEditing.emit()">
      Add Summary
    </button>
  </ng-container>
</p>

<ng-template #showEditor>
  <mat-form-field class="mat-form-field">
    <textarea
      matInput
      cdkTrapFocus
      cdkTrapFocusAutoCapture
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="8"
      [(ngModel)]="summary"
      (blur)="saveField.emit(summary)"
    ></textarea>
  </mat-form-field>
</ng-template>
