mat-card.mat-card {
  width: 600px;
}

mat-card-header.mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card-title.mat-card-title {
  text-align: center;
}

mat-card-content.mat-card-content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  mat-card.mat-card {
    width: 100%;
  }
}
